In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

In [7]:
ev_raw=pd.read_csv('California_DMV_EV.csv')
y_data=ev_raw.loc[:,['County ','Battery Electric ','Plug-in Hybrid ']]

def to_string(column):
    new=[]
    for k in range(len(column)):
        new.append(float(column[k].replace(",","")))
    return new

battery=to_string(np.array(y_data['Battery Electric ']))
hybrid=to_string(np.array(y_data['Plug-in Hybrid ']))

total=np.array(battery)+np.array(hybrid)

total_evs=pd.DataFrame()
total_evs['County']=y_data['County ']
total_evs['EV']=total

total_evs.head()

       County       EV
0    Alameda   25246.0
1     Alpine       3.0
2     Amador     109.0
3      Butte     483.0
4  Calaveras     156.0

In [8]:
#total_evs.to_csv('/Users/nathancarrizales-duarte/Desktop/Grid/EV_model_all/California_DMV_EV_edited.csv')